@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
#top-bar {
  height: 20px;
  background-color: #0F824E;
}
#top-bar .header-top {
  background-color: #0F824E;
}
#top-bar .container {
  margin-right: 80px;
}
#top-bar a {
  color: white;
  font-size: 11pt;
  line-height: normal;
  padding: 2px 5px 2px 5px;
  margin-left: 20px;
}
#top-bar a:hover {
  text-decoration: underline;
}
#top-bar a:active {
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
  border-width: 2px;
  border-color: #FFFFFF;
  text-decoration: none;
}

.nav-box li.active a {
  background-color: #0F824E;
}

.header-main {
  background-color: #FFFFFF;
}
.header-main .header-inner {
  max-width: 97.5%;
  margin-left: 2.5%;
  height: 90px;
}
.header-main .header-inner .header-nav-main {
  height: 90px;
  align-self: start;
}
.header-main .header-inner .header-nav-main .menu-item {
  height: 100%;
  padding-left: 12.5px;
  padding-right: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .header-inner .header-nav-main .has-dropdown:hover {
  border-top-style: solid;
  border-width: 3px;
  border-top-color: #ff9500;
}
.header-main .header-inner .header-nav-main .has-dropdown:active {
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
}
.header-main .header-inner .header-nav-main a.nav-top-link {
  color: black;
  font-size: larger;
  font-weight: normal;
}
.header-main .header-inner .header-nav-main .header-search .nav-dropdown-default {
  padding: 10px;
  margin-left: -300px;
}
.header-main .header-inner .header-nav-main .header-search input {
  width: 280px;
}
.header-main .header-inner .header-nav-main .header-search input::-moz-placeholder {
  color: black;
  font-size: small;
}
.header-main .header-inner .header-nav-main .header-search input::placeholder {
  color: black;
  font-size: small;
}
.header-main .header-inner .header-nav-main .header-search .icon-search {
  color: black;
  padding: 23px 20px 23px 20px;
  font-size: large;
}
.header-main .header-inner .header-nav-main .header-search .secondary {
  background-color: #0F824E;
  padding-left: 15px;
  padding-right: 15px;
}
.header-main .header-inner .header-nav-main .header-search .secondary:hover {
  background-color: #264A40;
}
.header-main .header-inner .header-nav-main .header-search .secondary .icon-search::before {
  content: "Search";
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main .header-inner .header-nav-main .header-search .secondary .icon-search {
  padding: 0px;
  color: white;
}
.header-main .header-inner .header-nav-main .header-search a:active {
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
}
.header-main .header-inner .header-nav-main .header-button {
  background-color: #ff9500;
  transform: skewX(-10deg);
  margin-left: 15px;
}
.header-main .header-inner .header-nav-main .header-button a {
  width: 9.5rem;
  height: 3.25rem;
  font-size: medium;
  border: none;
  text-transform: none;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-main .header-inner .header-nav-main .header-button a span {
  transform: skewX(10deg);
  color: black;
}
.header-main .header-inner .header-nav-main .header-button a:hover {
  background-color: #264A40;
}
.header-main .header-inner .header-nav-main .header-button a:hover span {
  color: white;
}
.header-main .header-inner .header-nav-main .header-button a:active {
  background-color: #ff9500;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
}
.header-main .header-inner .header-nav-main .header-button a:active span {
  color: black;
}

.nav-dropdown-default {
  position: absolute;
  top: 87px;
  background-color: #E6E2DE;
  padding: 0px;
  margin-left: -20%;
}

.sub-menu .menu-item {
  color: black;
  width: 100%;
  border: none;
}
.sub-menu .menu-item:hover {
  background-color: #0F824E;
}
.sub-menu .menu-item a {
  text-align: start;
  color: black;
}
.sub-menu .menu-item a:hover {
  color: #FFFFFF;
}

.nav-dropdown li a {
  border: none;
}

.nav-dropdown-has-border .nav-dropdown {
  border: none;
}

.nav-dropdown-has-arrow li.current-dropdown.has-dropdown:before, .nav-dropdown-has-arrow li.current-dropdown.has-dropdown:after {
  opacity: 0;
}

.header-main .header-inner .header-nav-main .menu-item {
  justify-content: start;
}

.nav-dropdown-default .nav-column li a, .nav-dropdown.nav-dropdown-default li a {
  border: none;
  width: 100%;
}

.nav-dropdown {
  min-width: 220px;
  font-size: 11pt;
}

.content-nav-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.content-nav-container .section-content {
  position: absolute;
  width: 100%;
  background: transparent;
  transform: skewY(5deg);
}
.content-nav-container .section-content::before {
  z-index: -2;
  background: black;
  height: 40%;
  width: 100%;
  transform: skewY(-1deg);
  content: "";
  position: absolute;
  top: 43%;
}
.content-nav-container .section-content::after {
  z-index: -1;
  background: rgb(244, 244, 244);
  height: 110%;
  width: 100%;
  transform: skewY(0deg);
  content: "";
  position: absolute;
  top: 60%;
}
.content-nav-container .section-content .ux-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-nav-container .section-content .ux-menu .nav-item-outage .ux-menu-link__link, .content-nav-container .section-content .ux-menu .nav-item-home .ux-menu-link__link {
  background-color: #264A40;
}
.content-nav-container .section-content .ux-menu .nav-item-start .ux-menu-link__link, .content-nav-container .section-content .ux-menu .nav-item-payment .ux-menu-link__link,
.content-nav-container .section-content .ux-menu .nav-item-solar .ux-menu-link__link {
  background-color: #0F824E;
}
.content-nav-container .section-content .ux-menu .ux-menu-link {
  transform: skewY(-5deg);
}
.content-nav-container .section-content .ux-menu .ux-menu-link .ux-menu-link__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 50%;
  height: 7.4rem;
  width: 7.4rem;
  border-style: solid;
  border-color: white;
  border-width: 0.6rem;
  box-shadow: 0px 3px 3px 2px rgb(233, 227, 227);
}
.content-nav-container .section-content .ux-menu .ux-menu-link .ux-menu-link__link:hover {
  background-color: #191D1B;
  border-color: #ff9500;
}
.content-nav-container .section-content .ux-menu .ux-menu-link .ux-menu-link__link:active {
  background-color: #0F824E;
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
  border-color: white;
  border-width: 5px;
}
.content-nav-container .section-content .ux-menu .ux-menu-link .ux-menu-link__link .ux-menu-link__icon {
  content: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Antu_akonadi-phone-home.svg);
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  bottom: -25%;
}
.content-nav-container .section-content .ux-menu .ux-menu-link .ux-menu-link__link .ux-menu-link__text {
  font-weight: bold;
  font-size: large;
  color: black;
  text-shadow: 0px 0px 1px black;
  position: relative;
  top: 85%;
  white-space: nowrap;
}

.login-box {
  position: absolute;
  top: -270%;
  right: 0;
  transform: skewY(-5deg);
  background-color: rgb(244, 244, 244);
  width: 500px;
  height: 190px;
  margin-left: auto;
  margin-right: 60px;
}
.login-box .pwd-billing-box {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  color: black;
  background-color: #FFFFFF;
}
.login-box .pwd-billing-box .left h3 {
  font-size: xx-large;
  margin-bottom: 5%;
  color: black;
}
.login-box .pwd-billing-box .left p {
  font-size: large;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.login-box .pwd-billing-box .left i {
  margin-left: -5px;
  color: grey;
  font-size: large;
}
.login-box .pwd-billing-box .right p {
  font-size: small;
  font-weight: 100;
}
.login-box .pwd-billing-box .right i {
  position: absolute;
}
.login-box .pwd-billing-box .right .icon-user-o {
  width: 100%;
  margin-top: 5px;
  margin-left: 90%;
  font-size: medium;
}
.login-box .pwd-billing-box .right .key {
  content: url(https://upload.wikimedia.org/wikipedia/commons/4/43/Schlussel.svg);
  height: 1.25rem;
  width: 1.25rem;
}
.login-box .pwd-billing-box .right input {
  margin-bottom: 15px;
  background-color: #F6F6F6;
  border: none;
}
.login-box .pwd-billing-box .right .button {
  margin-top: 10px;
  background-color: #ff9500;
  color: black;
  font-size: large;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  font-weight: bold;
  text-transform: none;
  height: 3rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box .pwd-billing-box .right .button:hover {
  background-color: #264A40;
  color: white;
}
.login-box .pwd-billing-box .right .button:active {
  background-color: #ff9500;
  color: black;
  border-style: solid;
  border-color: #0F824E;
  box-shadow: 0px 0px 0px 0.5rem rgba(248, 153, 29, 0.4) !important;
}

label, legend {
  font-weight: normal;
}

#wrapper {
  font-family: "Open Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */