$focusState: #f8991d66;
$white: #FFFFFF;
$dark: #191D1B;
$primary: #0F824E;
$secondary: #264A40;
$tertiary: #E6E2DE;
$tertiaryLight: #F8F6F4;
$accent: #ff9500;

@import './styles/mixins/mixins';

@import './styles/top-bar';
@import './styles/header-main';
@import './styles/hero-nav';
@import './styles/login-box';


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#wrapper {
    font-family: "Open Sans", sans-serif;
}
    // background-image: url("images/logo.png");
 