.header-main {
    background-color: $white;
    .header-inner {
        max-width: 97.5%;
        margin-left: 2.5%;
        height: 90px;
        .header-nav-main {
            height: 90px;
            align-self: start;
                .menu-item {
                    height: 100%;
                    padding-left: 12.5px;
                    padding-right: 12.5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .has-dropdown {
                    &:hover {
                        @include hover();
                    }
                    &:active {
                        @include focus();
                    }
                }
                a.nav-top-link {
                    color:black;
                    font-size: larger;
                    font-weight: normal;
                }
                .header-search {     
                    .nav-dropdown-default {
                        padding: 10px;
                        margin-left: -300px;
                    }    
                    input {
                        width: 280px;
                    }
                    input::placeholder {
                        color: black;
                        font-size: small;
                    }
                    .icon-search {
                        color:black;
                        padding: 23px 20px 23px 20px;
                        font-size: large;
                    }
                    .secondary {
                        background-color: $primary;
                        padding-left: 15px;
                        padding-right: 15px;
                        &:hover {
                            background-color: $secondary;
                        }
                        .icon-search::before {
                            content: "Search";
                            font-family: "Open Sans", sans-serif;
                            font-size: small;
                            font-weight: bold;
                            @include center();
                        }
                        .icon-search {
                            padding: 0px;
                            color: white;
                        }
                    }
                    a {
                        &:active {
                            @include focus();
                        }
                    }
                }
                .header-button {
                    background-color: $accent;
                    transform: skewX(-10deg);
                    margin-left: 15px;
                    a {
                        width: 9.5rem;
                        height: 3.25rem;
                        font-size: medium;
                        border: none;
                        text-transform: none;
                        text-shadow: 0px .5px, .5px 0px, .5px .5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            transform: skewX(10deg);
                            color:black;
                        }
                        &:hover {
                            background-color: $secondary;
                            span {
                                color:white;
                            }
                        }
                        &:active {
                            background-color: $accent;
                            color:black;
                            border-width: 2px;
                            @include focus();
                            span{
                                color:black;
                            }
                        }

                    }
                }
            }        
    }
}


////////////  Dropdown /////////////////////////////////////////
.nav-dropdown-default {
    position: absolute;
    top: 87px;
    background-color: $tertiary;
    padding: 0px;
    margin-left: -20%;
}

.sub-menu .menu-item {
    color: black;
    width: 100%;
    border: none;
    &:hover {
        background-color: $primary;
    }
    a {
        text-align: start;
        color: black;
        &:hover {
            color: $white;
        }
    }
}

.nav-dropdown li a {
    border: none;
}
.nav-dropdown-has-border .nav-dropdown {
    border: none;
}

.nav-dropdown-has-arrow li.current-dropdown.has-dropdown:before, .nav-dropdown-has-arrow li.current-dropdown.has-dropdown:after {
    opacity: 0;
}
.header-main .header-inner .header-nav-main .menu-item {
    justify-content: start;
}
.nav-dropdown-default .nav-column li a, .nav-dropdown.nav-dropdown-default li a {
    border: none;
    width: 100%;
}
.nav-dropdown {
    min-width: 220px;
    font-size: 11pt;
}