.login-box {
    position:absolute;
    top: -270%;
    right: 0;
    transform: skewY(-5deg);
    background-color: rgb(244, 244, 244);
    width: 500px;
    height: 190px;
    margin-left:auto;
    margin-right: 60px;

    .pwd-billing-box {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: .5rem;
        color: black;
        background-color: $white;
        .left {
            h3 {
                font-size: xx-large;
                margin-bottom: 5%;
                color: black;
            }
            p {
                font-size: large;
                line-height: 1.2;
                margin-bottom: 1rem;
            } 
            a {

            }
            i {
                margin-left: -5px;
                color: grey;
                font-size: large;
            }
        }
        .right {
            p {
                font-size: small;   
                font-weight: 100;
            }
            i {
                position: absolute;
            }
            .icon-user-o {
                width: 100%;
                margin-top: 5px;
                margin-left: 90%;
                font-size: medium;
            }
            .key {
                content: url(https://upload.wikimedia.org/wikipedia/commons/4/43/Schlussel.svg);
                height: 1.25rem;
                width: 1.25rem;
            }
            input {
                margin-bottom: 15px;
                background-color: #F6F6F6;
                border: none;
            }
            .button{
                margin-top: 10px;
                background-color: $accent;
                color: black;
                font-size: large;
                text-shadow: 0px .5px, .5px 0px, .5px .5px;
                font-weight: bold;
                text-transform: none;
                height: 3rem;
                width: 7rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $secondary;
                    color:white;
                }
                &:active {
                    background-color: $accent;
                    color: black;
                    @include focus();
                }
            } 
        }
    }
}

label, legend {
    font-weight: normal;
}