#top-bar {
    height: 20px;
    background-color: $primary;
    .header-top {
        background-color: $primary;
    }
    .container {
        margin-right: 80px;
    }
    a {
        color: white;
        font-size: 11pt;
        line-height: normal;
        padding: 2px 5px 2px 5px;
        margin-left: 20px;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            @include focus();
            border-width: 2px;
            border-color: $white;
            text-decoration: none;
            
        }
    }
}
.nav-box li.active a {
    background-color: $primary;
}

