.content-nav-container {
    background-image: url("../assests/background.png");
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    .section-content {
      position: absolute;
      width: 100%;
	    background:transparent;
      transform: skewY(4.5deg);
      &::before {
        z-index: -2;
        background: black;
        height: 50px;
        width: 100%;
        transform: skewY(-.5deg);
        content: '';
        position: absolute;
        bottom: 65px;
      }
      &::after {
        z-index: -1;
        background: $white;
        height: 180px;
        width: 100%;
        transform: skewY(0.5deg);
        content: '';
        position: absolute;
        bottom: -85px;
      }
      .hero-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translateY(-45%);
        .even {
          background-color: $secondary;
          &:active {
            background-color: $secondary !important;
          }
        }
        .odd {
          background-color: $primary;
          &:active {
            background-color: $primary !important;
          }
        }
        .hero-nav-item {
          transform: skewY(-4.5deg);
          @include center();
          flex-direction: column;
          border-radius: 50%;
          height: 100px;
          width: 100px;
          border-style: solid;
          border-color: white;
          border-width: 10px;
          box-shadow: 0px 3px 3px 2px rgb(233, 227, 227);
          &:hover {
            background-color: $dark;
            border-color: $accent;
          }
          &:active {
            @include focus();
            border-color: white;
            border-width: 5px;
          }
          .icon {
            font-size: xx-large;
            color: white;
            @include center;
            position: relative;
            bottom: -25%;
          }
          span {
            font-weight: bold;
            font-size: large;
            text-align: center;
            color: black;
            position: relative;
            top: 110%;
            white-space: nowrap; 
          }
        }
      }
    }
}

@media only screen and (max-width: 550px){
  .content-nav-container {
    height: 680px;
    .section-content {
      transform: skewY(0deg);
      &::before {
        transform: skewY(0.5deg);
      }
      &::after {
        transform: skewY(2deg);
      }
      .hero-nav {
        flex-wrap: wrap;
        transform: translateY(72.5%);
        justify-content: center;
        gap: 90px;
        .hero-nav-item {
          transform: skewY(0deg);
          span {
            width: 140px;
            display: flex;
            white-space: wrap;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}