.header-main {
    background-color: $white;
    display: flex;
    justify-content: center;
    .header-inner {
        display: flex;
        height: 90px;
        .logo{
            padding-top: 7.5px;
            .logo-image{
                height: 75px;
            }
        }
        .header-nav-main {
            margin: 0%;
            height: 90px;
            display: flex;
                .menu-item {
                    height: 100%;
                    padding-left: 15px;
                    padding-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a.nav-top-link {
                    color:black;
                    font-size: larger;
                    font-weight: normal;
                    white-space: nowrap;
                    }
                    i {
                        font-size: small;
                    }
                    .nav-dropdown {
                        display: none;
                        position: absolute;
                        top: 120px;
                        background-color: $tertiary;
                        font-size: 11pt;
                        padding: 0%;
                        z-index: 1;
                        .nav-dropdown-item {
                            &:hover {
                                background-color: $primary;
                                a {
                                    color: $white;
                                }
                            }
                            a {
                                min-width: 220px;
                                padding: 10px 10px 10px 20px;
                                display: block;
                                color: black;
                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .dropdown:hover {
                    @include hover();
                    .nav-dropdown {
                        display: block;
                    }
                }
                .dropdown:active {
                    @include focus();
                }
//-----------------  Search Button  ---------------------------------------

                .header-search {    
                    @include center(); 
                    .nav-dropdown {
                        padding: 10px;
                        margin-left: -350px;
                        display: none;
                        position: absolute;
                        top: 110px;
                        z-index: 1;
                    } 
                    &:hover {
                        @include hover();
                        .nav-dropdown {
                            display: block;
                        }
                    }   
                    &:active {
                        @include focus();
                        .nav-dropdown {
                            display: block;
                        }
                    }
                    form {
                        background-color: $tertiary;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                    }
                    input {
                        width: 280px;
                        padding: 15px;
                        border: none;
                    }
                    input::placeholder {
                        color: rgba(0, 0, 0, 0.682);
                        font-size: large;
                    }
                    i {
                        color:black;
                        padding: 23px 20px 23px 20px;
                        font-size: larger;
                    }
                    .submit-button {
                        background-color: $primary;
                        padding-left: 15px;
                        padding-right: 15px;
                        border: none;
                        color: white;
                        font-weight: bold;
                        font-size: medium;
                        &:hover {
                            background-color: $secondary;
                        }
                    }
                }
//--------------------  Pay Bill Button  ------------------------------------

                .header-button {
                    background-color: $accent;
                    transform: skewX(-10deg);
                    a {
                        width: 9.5rem;
                        height: 3.25rem;
                        font-size: medium;
                        border: none;
                        text-transform: none;
                        text-shadow: 0px .5px, .5px 0px, .5px .5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            transform: skewX(10deg);
                            color:black;
                        }
                        &:hover {
                            background-color: $secondary;
                            span {
                                color:white;
                            }
                        }
                        &:active {
                            background-color: $accent;
                            color:black;
                            border-width: 2px;
                            @include focus();
                            span{
                                color:black;
                            }
                        }

                    }
                }
        }        
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 30px 5px;
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: all 0.3s ease;
        background-color: black;
    }
}

@media only screen and (max-width: 800px){
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

// -----  side dropdown  ----- //
    
    .header-main {
        justify-content: space-between;
        padding: 0 10px 0 10px;
        .header-inner {
            width: 100%;
            justify-content: space-between;
            .nav-container{
                background-color: $white;
                position: absolute;
                right: -1000%;
                top: 120px;
                gap: 0;
                width: 100%;
                transition: 0.3s;
                z-index: 10;
                .header-nav-main {
                    flex-direction: column;
                    height: fit-content;
                    padding-left: 0%;
                    margin-top: 70px;
                    .menu-item{
                        background-color: $tertiaryLight;
                        justify-content: left;
                        padding: 10px 20px 10px 25px;
                        border-top: 0.5px solid rgb(149, 147, 147);
                        &:active {
                            background-color: rgb(155, 148, 148);
                            border: none;
                            box-shadow: none;
                            a {
                                color: $white;
                            }
                        }
                        .nav-top-link {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            i {
                                margin-left: auto;
                                font-size: large;
                            }
                        }
                        .nav-dropdown {
                            display: none;
                            position: absolute;
                            top: 120px;
                            background-color: $tertiary;
                            font-size: 11pt;
                            padding: 0%;
                            z-index: 1;
                            
                        }
                    }
                    .dropdown:active {
                        .nav-dropdown {
                            // display: block;
                            // position: inherit;
                        }
                    }
                    .header-search {
                        a {
                            display: none;
                        }
                        .nav-dropdown {
                            display: block;
                            padding: 0px;
                            margin-left: -0px ;
                            top: 10px ;
                        }
                        form {
                            padding: 0px;
                            border: 1px solid $tertiary;
                        }
                        input {
                            width: 280px;
                            padding: 10px;
                            font-size: medium;
                        }
                        input::placeholder {
                            font-size: medium;
                        }
                        .submit-button {
                            background-color: $primary;
                            padding-left: 5px;
                            padding-right: 5px;
                            border: none;
                            color: white;
                            font-weight: bold;
                            font-size: medium;
                            &:active {
                                background-color: $secondary;
                                border: none;
                            }
                        }
                        &:active {
                            box-shadow: none;
                            border: none;
                        }
                        &:hover {
                            border: none;
                        }
                    }
                    .header-button {
                        margin-top: 25px;
                        margin-bottom: 60px;
                    }
                }
            }
            .nav-container.active{
                left: 0%;
            }
        }
    }
}
